{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="container center" >
		<H1 style="margin-top: 150px; text-align: center; font-size: 45px; word-spacing: 7px;">SYSTEME DE GESTION DE VENTE</H1>
	</div>
    <a href="/login" class="btn btn-lg btn-secondary" style=" font-size:16px; position: relative; left:600px; top: 50px; height:45px; color: white;">Se connecter</a></button>
{% endblock %}
