<form method="post" action="{{ path('historique_delete', {'id': historique.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ historique.id) }}">
    <button class="btn btn-danger" style="position:relative; top:-35px; left:240px; font-size:12px;"><i class="fa fa-trash" style="padding: 5px"></i>Supprimer</button>
</form>
