{{ form_start(form) }}
    <button class="btn btn-success" style="position:relative; top:-71px; left:122px; font-size:12px;"><i class="fa fa-edit" style="padding: 5px"></i>{{ button_label|default('Enregistrer') }}</button>
    {{ form_widget(form) }}
{{ form_end(form) }}
